*{
    margin: 0;
    padding: 0;

}
    nav{
    background-color: black;
    color: white;
    padding: 15px;
    

}
h1{
    display: inline;
}
li{
    display: inline;
    color: gray;
    cursor: pointer;
    

}

li:hover{
    color: white;
}

ul{
    display: inline;
    margin-left: 60%;
}
input{
    width: 50%;
    padding: 10px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.one{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    cursor: pointer;
}
.one:hover{
    background-color: black;
    color: white
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 25px;
    }
p{
    padding: 8px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    

}
