/** @format */
body {
  font-family: Arial;
}

.js-subscribe-button {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 30px;
}
.is-subscribe {
  background-color: rgb(128, 128, 128);
  color: black;
}



.js-cost-input{
 font-size: 15px;
 padding: 10px;
}

.calculate-btn{
 background-color: green;
 color:white;
 padding: 12px;
 border: none;
 cursor: pointer;
}